/build/
/output/
/config-editor/out/
/easyorm-mysql/build/
/easyorm-mysql/out/
/gui/build/
/gui/out/
/mybatis-generator/out/
/sql-com.storyteller_f.sql_query.query/build/
/sql-com.storyteller_f.sql_query.query/out/
/.gradle/
/easyorm-jdbc/build/
/easyorm-jdbc/out/
/sql-query/build/
/sql-query/out/
/easyorm-search/out/production/classes/com/storyteller_f/easyorm_search/
/test-search/out/production/classes/
/config-editor-test-config-editor.json
/easyorm-search/out/test/classes/
/config-editor-com.storyteller.gui.main.DatabaseConnectionInput.json
/projector-ui/out/production/classes/
/projector-ui/out/production/resources/
/projector-ui/src/main/resources/sql-query-2.2.2.jar
/gui/src/main/resources/sql-query-2.2.2.jar
/DPIDLL.dll
/dll_produce/DPIDLL/x64/
/dll_produce/DPIDLL/.vs/
/uiscale/out/
/dll_produce/DPIDLL/DPIDLL/x64/
/sql-query/gui/src/main/resources/sql-query-2.2.2.jar
/relay-message/build/
